<div>
    <div id='view-details'>
        <h2>Job Category:
            <%= job.jobCategory %>
        </h2>
        <p><strong>Job Designation:</strong>
            <%= job.jobDesignation %>
        </p>
        <p><strong>Job Location:</strong>
            <%= job.jobLocation %>
        </p>
        <p><strong>Company Name:</strong>
            <%= job.companyName  %>
        </p>
        <p><strong>Salary:</strong>
            <%= job.salary %>
        </p>
        <p><strong>Apply By:</strong>
            <%= job.applyBy %>
        </p>
        <p><strong>Skills Required:</strong>
            <%= job.skillsRequired %>
        </p>
        <p><strong>numberOfOpenings:</strong>
            <%= job.numberOfOpenings %>
        </p>
        <p><strong>Job Posted:</strong>
            <%= job.jobPosted %>
        </p>
        <p><strong>Applicants:</strong>
            <%= job.applicants %>
        </p>
        <p>
            <button type="button" class="btn btn-primary" onclick='getLoginForm("<%= job.id %>")'>Apply</button>
        </p>
    </div>
    <div id='pop-up-form'>
        <form action='/apply/<%= job.id %>' method="post" class="mt-5 col-6 m-auto" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="name">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                <input type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Contact</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="contact">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Resume</span>
                <input type="file" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" accept="application/pdf" name="resume">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>